
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <br />
    <br />
    <div class="card text-bg-light mb-3 animate__animated animate__fadeIn" style="max-width: 18rem;">
        <div class="card-header">Introducción</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Esta página puede ayudarte en muchos aspectos; <br /> te puede ayudar para consultas, horarios y listas de clase</p>
        </div>
    </div>
    <br />
    <br />
    <div class="card text-bg-light mb-3 animate__animated animate__fadeIn" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Para los padres</h5>
            <p class="card-text">Esta página te brinda lo necesario para mantener la seguridad de tu hijo en la institución. <br /> Puedes ver sus clases, sea que tenga o no; así como también las que asistíó por medio de un reporte.</p>
        </div>
    </div>
</center>