
/XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/FileContentIndex
/XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/config
/XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2
XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/FileContentIndex/ed71564b-c33b-4b85-aabf-549f5586baa7.vsidx
XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/v17/.suo
XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/v17/.suo
XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/FileContentIndex/ed71564b-c33b-4b85-aabf-549f5586baa7.vsidx
XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/FileContentIndex/d8dd8036-3510-4dd1-9702-48e935a81948.vsidx
/XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2
/XPPROJECT2/XPPROJECT2
*.config
XPPROJECT2/XPPROJECT2/.vs/XPPROJECT2/FileContentIndex/96195198-c511-4dbd-8220-143675ba5e11.vsidx
