
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <br />
    <br />
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Colegio Técnico Profesional Ingeniero <br /> Mario Quirós Sasso</h1>
    <br />
    <br />
    <div class="card text-bg-light mb-3 animate__animated animate__fadeIn" style="max-width: 300px;">
        <div class="card-header">Introducción</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Esta página puede ayudarte en muchos aspectos; <br /> te puede ayudar para consultas, horarios y listas de clase</p>
        </div>
    </div>
    <br />
    <br />
    <div class="card text-bg-light mb-3 animate__animated animate__fadeIn" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Para los profesores</h5>
            <p class="card-text">Esta página te permite cambiar, agregar, consultar, eliminar varios <br /> aspectos de las listas de sus estudiantes, pero únicamente <br /> las listas de sus estudiantes, no de otros.</p>
        </div>
    </div>
    <div class="card text-bg-light mb-3 animate__animated animate__fadeIn" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Para los coordinadores</h5>
            <p class="card-text">Acá podés tener la posibilidad de modificar absolutamente todo lo que <br />tenga que ver con el sistema de horarios en la institución.</p>
        </div>
    </div>
    <div class="card text-bg-light mb-3 animate__animated animate__fadeIn" style="max-width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Para los auxiliares</h5>
            <p class="card-text">Esta designación permite consultar con aquellos que realicen el uso de la mensajería de la misma página institucional.</p>
        </div>
    </div>


</center>